* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.transition-1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition: .5s ease-out;
}

.transition-1.is-active {
  opacity: 1;
  pointer-events: all;
}

.shapes {
   width: 67.19999999999999px;
   height: 67.19999999999999px;
   color: #f76f8a;
   background: linear-gradient(currentColor 0 0) left   22.4px top    0,
          linear-gradient(currentColor 0 0) top    22.4px right  0,
          linear-gradient(currentColor 0 0) right  22.4px bottom 0,
          linear-gradient(currentColor 0 0) bottom 22.4px left   0;
   background-size: calc(100%/3) calc(100%/3);
   background-repeat: no-repeat;
   animation: shapes-dqf486 0.9000000000000001s infinite alternate linear,
          shapes-g0d60l 1.2000000000000002s infinite;
}

@keyframes shapes-dqf486 {
   90%, 100% {
      background-size: calc(2*100%/3) calc(100%/3),calc(100%/3) calc(2*100%/3);
   }
}

@keyframes shapes-g0d60l {
   0%, 49.99% {
      transform: scaleX(1);
   }

   50%, 100% {
      transform: scaleX(-1);
   }
}
